.CT-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    min-height: 560px;
    background-image: linear-gradient(to right, #9600FF, #AEBAF8);
}

@media screen and (max-width: 1110px) {
    .CT-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        min-height: 420px;
        background-image: linear-gradient(to right, #9600FF, #AEBAF8);

    }
}



.tracksProfile-container{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tracksProfile-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.tracksProfile-details-name{
    font-size: 36px;
    font-family: "Poppins SemiBold";
}

.tracksProfile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.tracksProfile-details-role h4{
    font-size: 20px;
    font-family: "Poppins Light";
}

.primary-text{
    color: (--white);
}

.highlighted-text{
    color: (--dark-orange);
}

.tracksProfile-role-tagline{
    font-size: 16px;
    margin: 5px 0 0 0;
    font-family: "Poppins Regular";
}

.tracksProfile-options .highlighted-btn{
    margin: 0 28px 0 0;
}

.tracksProfile-options .highlighted-btn:hover{
    margin: 0 28px 0 0;
    background-color: cornsilk;
    color: #111;
}

.tracksProfile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 1px 1px var(--white);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 0 0px 0 100px;
}

.tracksProfile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url("../assets/card/web.png");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tracksProfile-picture-background:hover {
    transform: scale(1.07);
    transition: 0.5s ease-out;
}


@media screen and (max-width: 1110px) {
    .tracksProfile-picture{
        margin: 0 0 0 80px;
    }   
    
    .tracksProfile-details-name{
        font-size: 30px;
    }

    .tracksProfile-details-role h4{
        font-size: 18px;
        font-family: "Poppins Light";
        
    }

    .tracksProfile-role-tagline{
        font-size: 11px;
        margin: 5px 0 0 0;
        font-family: "Poppins Regular";
    }

    .tracksProfile-details-role .primary-text{
        font-size: 12px;
    }

    .tracksProfile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }

    .tracksProfile-picture{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 1px 1px var(--white);
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin: 0 0px 0 100px;
    }
    
    .tracksProfile-picture-background {
        height: 92%;
        width: 92%;
        background-image: url("../assets/card/web.png");
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
}


@media screen and (max-width: 810px) {
    .tracksProfile-picture{
        margin: 0 !important;
    }

    .tracksProfile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .tracksProfile-options{
        display: flex;
        justify-content: space-between;
    }

    .tracksProfile-details{
        margin: 25px 0 0 0;
    }

    .tracksProfile-options .highlighted-btn{
        margin: 0 !important;
    }

    .tracksProfile-options, 
    .tracksProfile-details-role{
        text-align: center;
    }

    .tracksProfile-container{
        text-align: center;
    }
}


.courselist-container{
margin-top: 50px;
}

.course-table{
    width: 80%;
    /* background-color: white; */
    border-radius: 1%;
    margin-left: 10%;
   
}

.course-table-course{
    width: 80%;
    background-color: white;
    border-radius: 1%;
    margin-left: 40px;
   
}

.table-row{
    margin-bottom: 10px;
    margin-top: 10px;
    /* background-image: linear-gradient(to left, #a62ffc09, #AEBAF8); */
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;

    background-color: rgba(255, 255, 255, 0.452);

    box-shadow: 2px 2px 1px 1px rgba(17, 17, 17, 0.144);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;

}

.table-row:hover{
    transition: all 250ms;

    transform: scale(1.01);
}

.table-row-course{
    /* margin-bottom: 10px;
    margin-top: 10px; */
    /* background-image: linear-gradient(to left, #9500ff1c, #AEBAF8); */
    border-radius: 1%;
    /* padding-left: 5%;
    padding-right: 5%; */


    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;

}

.table-row-course:hover{
    transition: all 250ms;

    transform: scale(1.01);
}

.progressRow{
    margin-bottom: 15px;
    margin-top: 15px;
    /* background-image: linear-gradient(to left, #9500ff1c, #AEBAF8); */
    border-radius: 1%;
    /* padding-left: 5%;
    padding-right: 5%; */

    box-shadow: 0px 2px 5px 2px rgba(17, 17, 17, 0.144);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;

    width: 100%;
    flex-direction: column;

}

.progressRow-row{
    width: 100%;
    z-index: 1;
}

.table-col{
}

.id{
    font-size: 18px;
    font-family: "Poppins SemiBold";
    padding-left: 10px;
}

.name{
    font-size: 24px;
    font-family: "Poppins Bold";
    width: 350px;
}

.des{
    font-size: 18px;
    font-family: "Poppins Regular";
}

.pg{
    font-family: "Poppins Bold";
    font-size: 24px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}


.progress-back {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 250px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;

    font-size: 12px;
	
	opacity: 0;
	transition: 1s ease 0.3s;
}

.progress-back-course {
	background-color: #d8d8d881;
	border-radius: 20px;
	position: relative;
	height: 10px;
	width: 100%;
}

.progress-done-course {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	opacity: 0;
	transition: 1s ease 0.3s;
}



.btn-table {
    width: 150px;
    margin-top: 20px;
    
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Poppins SemiBold";
  }
  
  .btn-table:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }


.courseList-header{
    font-family: "Poppins SemiBold";
    font-size: 24px;
    color: white;
    margin-left: 10%;
}

.courseList-header-course{
    font-family: "Poppins SemiBold";
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-left: 40px;
}

.recom-header{
    font-family: "Poppins SemiBold";
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-top: 30px;
    padding-top: 30px;
}


.trackRecom-container{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 10%;
}

.react-player-ct{
    border-radius: 50px;
    width: 420px;
    height: 320px;
    background-color: #191919;
    box-shadow: 0px 2px 5px 2px rgba(17, 17, 17, 0.344);
}

.react-player{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin-left: 20px;
    
}

/* .react-player video {
    position: relative;
    border-radius: 50px;
    transform: none;
} */

.progressRow2-2{
    margin-bottom: 15px;
    margin-top: 15px;
    /* background-image: linear-gradient(to left, #9500ff1c, #AEBAF8); */
    border-radius: 1%;
    /* padding-left: 5%;
    padding-right: 5%; */

    box-shadow: 0px 2px 5px 2px rgba(17, 17, 17, 0.144);

    display: flex;
    align-items: center;
    justify-content: space-between;


    background-image: url("../assets/card/gradient-backgrounds.png");

    background-color: #0d0314;
    color: white;
    border-radius: 20px;
    width: 450px;

    
    flex-direction: column;
    border: 6px;
    border-style: solid;
    /* border-image: linear-gradient(to left, #7531FE, #598bdc); */
}

.nothing{
    font-size: 1px;
}