.courseContainer{
 display: flex;
 width: 100%;
}

.courseSidebar{
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    height: 1024px;
    position: fixed;
    width: 300px;
    z-index: 900; 
    display: flex;
}

.cousreSidebarTrack{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
}

.courseSidebarTrackText{

}

.courseSidebarTrackText1{
    font-size: 11px;
    color: rgb(185, 185, 185);
    font-family: "Poppins Bold";
}

.courseSidebarTrackText2{
    font-size: 14px;
    color: white;
    font-family: "Poppins SemiBold";
}

.cousreSidebarTrack img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.courseSidebarCourse{
    margin-left: 20px;
    margin-top: 20px;
    width: 85%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 50px;
}

.courseSidebarMenu{
    padding-left: 40px;
    width: 80%;
    color: white;
    font-family: "Poppins SemiBold";
}

.cousreSidebarMenuItem{
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}

.cousreSidebarMenuItem-selected{
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 50px;
}

.cousreSidebarMenuItem-selected img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.cousreSidebarMenuItem img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.cousreSidebarMenuItem:hover{
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 50px;
}

.cousreSidebarMenuItem:active{
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 50px;
}

.courseContent{
    width: 70%;
    margin-left: 300px;
}

.courseSidebarSplit{
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.123);
    margin-bottom: 30px;
}

.courseRecomCard{
    font-family: "Poppins SemiBold";

    background-color: #522ED2;
    
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(17, 17, 17, 0.158);
    margin-right: 20px;

}

.courseRecomCard:hover{
    transition: all 250ms;
    transform: scale(1.02);
}

.CourseRecom-topText{
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 14px;
    margin-bottom: 15px;
    z-index: 1;
}

.CourseRecom-title{
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    z-index: 1;
}

.CourseRecom-bottomText{
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.986);
    font-size: 15px;
    z-index: 1;

    
}

.courseRecom-container{
    margin-left: 40px;

}

.courseRecom-header{
    font-family: "Poppins SemiBold";
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    z-index: 1;

}

.courseRecom-card-container{
    display: flex;
}

.courseRecom-btn{
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 1;

}


.btn-right-mi-chapter {
    width: fit-content;
    margin-right: 10px;
    
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Poppins Bold";
    font-size: 20px;
    font-family: "Poppins SemiBold";

  }
  
  .btn-right-mi-chapter:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.07);
  }

  .tutorials-container{
    margin-left: 40px;
    margin-top: 60px;
  }


  .tutorialsCard{
    font-family: "Poppins SemiBold";

    background-color: #522ED2;
    
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(17, 17, 17, 0.158);
    margin-right: 20px;

}

.tutorialsCard:hover{
    transition: all 250ms;
    transform: scale(1.02);
}


  .courseRecomCard .card_image {
    width: inherit;
    height: inherit;
    opacity: .7;
    position: absolute;
    margin-top: -0px;
    z-index: -0;
    border-radius: 10px;
  }

  .tutorials-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .playbtn{
    z-index: 5;
  }

  .playbtn img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: .8;
    margin-bottom: 35px;
    margin-left: 90px;
  }

  .tutorialsName{
    font-size: 18px;
    font-family: "Poppins SemiBold";
    margin-top: 10px;
    margin-bottom: 30px;
  }