.form-group{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 700px;
}



.start_date{
    margin-bottom: 10px;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    margin-top: 15px;
}

.free-time-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-image: linear-gradient(to left, #9500ff25, #A959DC);
    width: 600px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(128, 128, 128, 0.768);
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins SemiBold";
    font-size: 16px;
}

.free-time-container2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    background-image: linear-gradient(to left, #9500ffa4, #520482);
    width: 600px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(128, 128, 128, 0.768);
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    color: white;
}

.free_slots_list{
    margin-left: 20px;
    padding-top: 30px;
}

.add-ft{
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.date-input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #A959DC;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    padding-left: 5px;
    box-shadow: inset 0px 0px 10px rgba(128, 128, 128, 0.768);
    background-image: linear-gradient(to left, #9500ff25, #A959DC);
}

.date-input-btn{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #A959DC;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    padding-left: 5px;
    box-shadow: inset 0px 0px 10px rgba(128, 128, 128, 0.768);
    background-image: linear-gradient(to left, #9500ff25, #A959DC);
    color: white;
    background-color: #A959DC;
    margin-top: 20px;
    margin-left: 210px;
}

.start-div-input{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 600px;
}

.end-div-input{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 600px;
}

.freetime-Content{
    margin-left: 350px;
    /* margin-top: 20px; */
    margin-bottom: 20px;

    

}