.completedTaskcircle{
    font-family: "Poppins SemiBold";

    font-size: 18px;
    background-color: rgb(253, 253, 252);
    border-radius: 20px;
    padding: 8px 8px;
}

.completedTaskcircle-back{
    background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	
    border-radius: 40px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.practiceMenu-container{
    margin-left: 40px;
    position: absolute;
    margin-top: 40px;
}



.PracticeMenu-Easy{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #9600FF, #AEBAF8);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999; 
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;

}

.PracticeMenu-Easy:hover{
    transition: all 250ms;
    transform: scale(1.03);
}

.PracticeMenu-Hard{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #ff002b, #AEBAF8);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100; 
    border-radius: 30px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;


}

.PracticeMenu-Hard:hover{
    transition: all 250ms;
    transform: scale(1.03);
}