.topbar{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999; 
}

.topbarWrapper{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.topRight{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.topbaricnos{
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    color: #FFF;
}

.topAvatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.topbar-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #9600FF, #AEBAF8);
}

.tracksDropdown-container{
    display: flex;
    color: #FFF;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
    padding-left: 20px;
}

.tracksDropdown-container:hover{

    background-color: #570394;
    border-radius: 5%;
}

.topbarLeft-container{
    display: flex;
    align-items: center;

}