.videoContainer{
    display: flex;
    justify-content: flex-start;

}

.videPlayerSide{
    width: 70%;
    margin-left: 30px;

}

.videoHeader{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.568);
    
}

.video-chapter{
    padding-left: 60px;
    font-family: "Poppins SemiBold";
    font-size: 26px;

}

.closeVideobtn{
    margin-right: 20px;
    width: 80px;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    border-radius: 20px;
    border: 0ch;
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.568);
    background-color: rgba(253, 72, 72, 0.342);
}

.videoPlayer{

    width: 1140px;
    height: 660px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.568);
    background-color: rgba(72, 90, 253, 0.342);
    justify-content: center;
    padding-left: 20px;
}

.video-details{

    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* box-shadow: 0 0 5px rgba(128, 128, 128, 0.568); */
}

.videoTitle{
    font-family: "Poppins SemiBold";
    font-size: 20px;
    /* padding-left: 30px; */

}

.videoDescription{
    font-family: "Poppins Regular";
    font-size: 14px;
    /* padding-left: 30px; */
    padding-top: 5px;
    margin-bottom: 20px;

}

.videobtn{
    width: 1140px;
    font-family: "Poppins SemiBold";
    font-size: 16px;
    border-radius: 20px;
    border: 0ch;
    display: flex;
    /* margin-left: 20px; */
    margin-top: 5px;
    justify-content: center;
    z-index: 5;

}

.videobtn2{
    width: 1140px;
    font-family: "Poppins SemiBold";
    font-size: 14px;
    border-radius: 20px;
    border: 0ch;
    display: flex;
    /* margin-left: 20px; */
    /* margin-top: 5px; */
    justify-content: center;

}

.nextVideobtn{
    width: 80px;
    height: 25px;
    margin-left: 20px;
    background-color: rgba(78, 49, 240, 0.76);
    font-family: "Poppins SemiBold";
    font-size: 14px;
    border-radius: 20px;
    border: 0ch;
    color: white;
    z-index: 999;
}

.prevVideobtn{
    width: 80px;
    height: 25px;
    margin-right: 20px;
    background-color: rgba(78, 49, 240, 0.76);
    font-family: "Poppins SemiBold";
    font-size: 14px;
    border-radius: 20px;
    border: 0ch;
    color: white;
    z-index: 999;
}



.VideoPlaylist-Side{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.045);
    height: 900px;
}


.pdf-file{
    margin-left: 180px;
    width: 740px;
    height: 560px;
    justify-content: center;
    /* margin-top: 20px; */
    padding-top: 10px;
    /* margin-left: 10px; */
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.568);
    /* background-color: rgba(72, 90, 253, 0.342); */
    justify-content: center;
    padding-left: 10px;
    z-index: 1;
}

.pdf-reader{
    z-index: 1;
}